In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
pd.set_option('display.max_columns', None)  # or 1000
pd.set_option('display.max_rows', None)  # or 1000
pd.set_option('display.max_colwidth', None)  # or 199

In [14]:
df=pd.read_csv('athlete_events.csv')

In [4]:
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [6]:
df.shape

(271116, 15)

In [7]:
df.describe()

,ID,Age,Height,Weight,Year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000

In [8]:
df.isna()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,True,True,False,False,False,False,False,False,False,False,True
3,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271112,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271113,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271114,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271115,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [17]:
df['NOC'].groupby(df['NOC']).count()

NOC
AFG      126
AHO       79
ALB       70
ALG      551
AND      169
ANG      267
ANT      133
ANZ       86
ARG     3297
ARM      221
ARU       42
ASA       37
AUS     7638
AUT     5141
AZE      283
BAH      374
BAN       55
BAR      219
BDI       39
BEL     3857
BEN       71
BER      212
BHU       36
BIH      134
BIZ       76
BLR     1787
BOH      153
BOL      152
BOT       90
BRA     3848
BRN      126
BRU       10
BUL     3530
BUR       44
CAF       67
CAM       63
CAN     9733
CAY       83
CGO      105
CHA       41
CHI      925
CHN     5141
CIV      193
CMR      312
COD       93
COK       40
COL     1069
COM       19
CPV       18
CRC      264
CRO      876
CRT       11
CUB     2479
CYP      225
CZE     1874
DEN     3570
DJI       38
DMA       19
DOM      277
ECU      277
EGY     1622
ERI       43
ESA      218
ESP     5313
EST      876
ETH      378
EUN      864
FIJ      232
FIN     5467
FRA    12758
FRG     3315
FSM       26
GAB       63
GAM       56
GBR    12256
GBS       21
GDR     2645
GEO      286
GEQ       40
GER     9830
GHA      359
GRE     3181
GRN       54
GUA      425
GUI       73
GUM      112
GUY      102
HAI      106
HKG      685
HON      189
HUN     6607
INA      412
IND     1408
IOA       94
IRI      789
IRL     1325
IRQ      232
ISL      627
ISR      665
ISV      294
ITA    10715
IVB       45
JAM      848
JOR       80
JPN     8444
KAZ     1429
KEN      772
KGZ      227
KIR       11
KOR     4464
KOS        8
KSA      230
KUW      284
LAO       54
LAT      951
LBA       84
LBR       74
LCA       28
LES       66
LIB      329
LIE      369
LTU      654
LUX      996
MAD      119
MAL       45
MAR      682
MAS      530
MAW       87
MDA      234
MDV       49
MEX     2880
MGL      550
MHL       14
MKD       84
MLI       92
MLT      118
MNE       94
MON      197
MOZ       78
MRI      144
MTN       29
MYA      111
NAM       77
NBO        2
NCA      129
NED     5839
NEP       94
NFL        1
NGR      882
NIG       47
NOR     4960
NRU       13
NZL     2342
OMA       66
PAK      562
PAN      139
PAR      135
PER      532
PHI      694
PLE       21
PLW       25
PNG      108
POL     6207
POR     1522
PRK      807
PUR      927
QAT      192
RHO       12
ROT       12
ROU     4405
RSA     1711
RUS     5143
RWA       56
SAA       93
SAM       63
SCG      321
SEN      393
SEY      111
SGP      349
SKN       42
SLE      114
SLO     1111
SMR      181
SOL       27
SOM       32
SRB      392
SRI      146
SSD        3
STP       15
SUD      107
SUI     6150
SUR       69
SVK     1055
SWE     8339
SWZ       67
SYR      156
TAN      161
TCH     4404
TGA       46
THA      747
TJK       70
TKM       54
TLS        9
TOG       59
TPE     1097
TTO      375
TUN      561
TUR     1356
TUV        7
UAE      144
UAR      123
UGA      260
UKR     2559
UNK        2
URS     5685
URU      576
USA    18853
UZB      495
VAN       35
VEN      925
VIE      154
VIN       42
VNM       62
WIF       20
YAR       11
YEM       32
YMD        5
YUG     2583
ZAM      183
ZIM      311
Name: NOC, dtype: int64

In [22]:
z=df['NOC'].unique()

In [23]:
len(z)

230